install
cdrom
lang en_US.UTF-8
keyboard {{vm_keyboard}}
network --bootproto=dhcp --onboot=on --device={{vm_network_interface}}
rootpw {{vm_root_password}}
firewall --disabled
selinux --disabled
timezone UTC
unsupported_hardware
bootloader --location=mbr
text
skipx
zerombr
clearpart --all --initlabel
autopart
auth --enableshadow --passalgo=sha512 --kickstart
firstboot --disabled
reboot --eject
user --name={{vm_user}} --plaintext --password {{vm_user_password}}
key --skip

%packages --nobase --ignoremissing --excludedocs
# Useful stuff
openssh-clients
sudo
kernel-headers
kernel-devel
gcc
make
perl
wget
nfs-utils
virt-what
-fprintd-pam
-intltool

# unnecessary firmware
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
-kernel-firmware

%post
# Force to set SELinux to a disabled mode
sed -i -e 's/\(^SELINUX=\).*$/\1disabled/' /etc/selinux/config
# sudo
echo "%vagrant ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vagrant

#Enable hyper-v daemons only if using hyper-v virtualization
if [ $(virt-what) == "hyperv" ]; then
    ifup {{vm_network_interface}}
    yum -y install hyperv-daemons
    chkconfig hypervvssd on
    chkconfig hypervkvpd on
fi
